:root{
  --colorTextos: #49454567;
}

::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1{
  text-align: center;
  margin: 10px 0;
  font-weight: 800;
}

p {
  text-align: center;
}

form{
  background: #FFFFFF;
  width: auto;
  margin-top: 24px;
  padding: 10px 0;
  border-radius: 10px;
  box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
}

.form{
  width: 30%;
  margin: auto;
}

form .grupo{
  position: relative;
  margin: 45px;
  
}

input, textarea{
  background: none;
  color:#c6c6c6;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border:none;
  border-bottom: 1px solid var(--colorTextos);
  resize: none;
}

input:focus,textarea:focus{
  outline: none;
  color: rgb(94,93,93);
}

input:focus~label, 
input:valid~label, 
textarea:focus~label, textarea:valid~label{
  position: absolute;
  top: -14px;
  font-size: 12px;
  color: #2196F3;
}

label{
  color: var(--colorTextos);
  font-size: 16px;
  position: absolute;
  left: 5px;
  top:10px;
  transition: 0.5s ease all;
  pointer-events: none;
}

button{
  background: #4AC4A9;
  display: block;
  width: 100px;
  height: 40px;
  border:none;
  color:rgb(248, 248, 248); 
  border-radius: 4px;
  font-size: 16px;
  margin: 10px auto;
  cursor: pointer;
}

@media screen and (max-width:1100px){
  form{
      width: 50%;
  }
}

@media screen and (max-width:600px){
  form{
      width: 60%;
  }
}

@media screen and (max-width:450px){
  form{
      width: 80%;
  }
}

@media screen and (max-width:300px){
  form{
      width: 90%;
  }
}