//Hoja de estilos generales
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat-Regular";
}
//seccion dashboard
.content {
  display: grid;
  grid-template-columns: 200px 1fr;
  width: 100%;
  height: auto;
  background-color: blanchedalmond;
}
.wrapper {
  max-width: 1000px;
  padding-left: 10px;
  padding-right: 10px;
  margin: auto;
  box-sizing: border-box;
}
.clearfix {
  float: none;
  clear: both;
}
