@use 'abstracto' as *;
@use 'elementos' as *;
@use 'mixin' as *;
#cabecera {
    position: fixed;
    background: white;
    width: 100%;
    height: 80px;
    box-shadow: 0 0 30px rgb(0 0 0 / 13%);
    z-index: 999;
    .cabecera-box {
        max-width: 1100px;
        height: 100%;
        margin: auto;
        .wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;
            .logotipo {
                display: flex;
                align-items: center;
                width: 200px;
                width: 15%;
                height: 100%;
                img {
                    display: inline-block;
                    margin: 10px auto;
                    width: 60px;
                    height: 60px;
                }
                span {
                    display: inline-block;
                    font-size:25px;
                    color: $color-secundario;
                    a {
                        text-decoration: none;
                        color:$color-secundario;
                    }
                }
            }
            #menu {
                //border: 1px solid black;
                width: 400px;
                ul{
                    list-style: none;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    li {    
                        //margin-left: 10px;
                        a {
                            display: block;
                            text-decoration: none;
                            color: $color-secundario;
                            font-family: 'Montserrat';
                            font-weight: 700;
                            padding: 8px 10px;
                            //transition: all 500ms;
                            &:hover {
                                border-top: 2px solid $color-primario; 
                                border-bottom: 2px solid $color-primario;
                            }
                        }
                    }
                }
            }
            #btn-login {
                @include boton-claro;
                text-transform: uppercase;
            }
            .login {
                display: none;

                width: 200px;
                min-height: 190px;
                position: fixed;
                background: white;
                top: 60px;
                right: 150px;
                border-radius: $borde-radio-min;
                border: 1px solid $color-primario;
                form {
                    padding: 20px;
                    display: block;
                    span {
                        display: block;
                        text-align: center;
                        font-size: 20px;
                        font-family: $fuente-1;
                        font-weight: 800;
                    }
                    p {
                        margin-top: 6px;
                        margin-bottom: 5px;
                        label {
                            @include parrafo;
                            font-size: 14px;
                        }
                        input {
                            @include campo-claro;
                        }
                    }
                    .permanent {
                        display: flex;
                        width: 100%;
                        align-items: center;
                        label{
                            width: auto;
                            font-size: 11px;
                            //margin-top: 5px;
                        }
                        input {
                            margin-right: 5px;
                            width: auto;
                        }
                    }
                    input[type='submit'] {
                        width: 100%;
                        @include boton-oscuro;
                    }
                    .recuperar-contraseña {
                        width: 100%;
                        text-align: center;
                        a {
                            text-decoration: none;
                            color: $color-secundario;
                            font-family: $fuente-2;
                            font-size: 11px;
                        }
                    }
                    .link-regis {
                        position: relative;
                        width: 100%;
                        span {
                            font-size: 11px;
                        }
                        a {
                            display: block;
                            text-decoration: none;
                            text-align: center;
                            color: $color-secundario;
                            @include parrafo;
                        }
                    }
                }
            }
        }
    }
}