@font-face {
    font-family: 'OpenSans';
    src: url('/fonts/OpenSans-Light.ttf');
}
@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Light.ttf');
}
@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-Regular.ttf');
}
$fuente-titulos: 'Montserrat';
$fuente-parrafo: 'OpenSans';
$fuente-boton: 'Montserrat';

$fuente-1: 'Montserrat';
$fuente-2: 'OpenSans';